<div class="center hero-unit">
        <h1>Inversiones Maradiaga</h1>
       
        <div id="presentation_container" class="pc_containerima">
            <div class="pc_item">
                <div class="desc">
                    <h1>Sandía</h1>
                   
                </div>
                <%=  image_tag("sandia.jpg", alt:"fruta") %>
                
            </div>
            <div class="pc_item">
                <div class="desc">
                    <h1>Plantación</h1>
                    
                </div>
                  <%=  image_tag("planta.jpg", alt:"fruta") %>
            </div>
            <div class="pc_item">
                <div class="desc" style="left: 0px;">
                    <h1>Melon</h1>
                    
                </div>
                 <%=  image_tag("melon.jpg", alt:"fruta") %>
            </div>
            <div class="pc_item">
                <div class="desc" style="left: 165px;">
                    <h1>Maquinaria</h1>
                    
                </div>
                <%=  image_tag("deere.jpg", alt:"deere") %>
            </div>
           
           
        </div>
        
        <script type="text/javascript">
            presentationCycle.init();
        </script>
    </div>
