<div class="span6 offset3"> <!-- 2da Columna -->
        
<div id="carousel" class="carousel slide">
    <!--Elementos del Carousel -->
    <div class="carousel-inner">
      <div class="item active">
        <%=  image_tag("watermelon.jpg", alt:"fruta") %>
        <div class="carousel-caption">
          <!-- Titulo -->
          <h4>Producción de Sandía</h4>
          <!-- Descripcion -->
          <p>Producción en Choluteca y Colón</p>
        </div>
      </div>
      <div class="item">
        <%=  image_tag("sandia.jpg", alt:"fruta") %>
        <div class="carousel-caption">
          <!-- Titulo -->
          <h4>Mickylee</h4>
          <!-- Descripcion -->
          <p>Sandía producida en el departamento de choluteca.</p>
        </div>
      </div>
      <div class="item">
        <%=  image_tag("planta.jpg", alt:"fruta") %>
        <div class="carousel-caption">
          <!-- Titulo -->
          <h4>Plantación</h4>
          <!-- Descripcion -->
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
      <div class="item">
        <%=  image_tag("melon.jpg", alt:"fruta") %>
        <div class="carousel-caption">
          <!-- Titulo -->
          <h4>Melon</h4>
          <!-- Descripcion -->
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
</div>
   
     
       
       
   
</div>