<% provide(:title, 'Elementos') %>
<% provide(:boton, 'Salvar Elemento') %>

<div class="page-header">
  <h1 class="pull-left">Nuevo Elemento</h1>
</div>

<div class= "row-fluid">
  <div class="span12">
    <%= render 'form' %>

  </div>
</div>
