
<section class="panels">
	<div class="table" id="view40">
		<div id="panel_current_880898" class="panel c37 current_880898 current items_draggable visible" data-cid="c37" data-type="current">
			<div class="container">
				<header class="panel_header panel_controls">
					<div id="view45">
						<nav class="controls">
							<a href="#" class="close" tabindex="-1" title="Close Panel">close</a>
  							<a href="#" class="clone" tabindex="-1" title="Nueva Entrada"></a>  

  
						</nav>
						<h3 title="current">Entrada</h3>

					</div>
				</header>
				<section class="items_container">
					<div class="items panel_content" id="view62">
  
					
					</div>
				</section>
  
			</div>
		</div>
		<div id="panel_current_880898" class="panel c37 current_880898 current items_draggable visible" data-cid="c37" data-type="current">
			<div class="container">
				<header class="panel_header panel_controls">
					<div id="view45">
						<nav class="controls">
							<a href="#" class="close" tabindex="-1" title="Close Panel">close</a>
  							<a href="#" class="clone" tabindex="-1" title="Clone Panel"></a>  

  
						</nav>
						<h3 title="current">Salida</h3>

					</div>
				</header>
				<section class="items_container">
					<div class="items panel_content" id="view62">
  
					
					</div>
				</section>
  
			</div>
		</div>
		<div id="panel_current_880898" class="panel c37 current_880898 current items_draggable visible" data-cid="c37" data-type="current">
			<div class="container">
				<header class="panel_header panel_controls">
					<div id="view45">
						<nav class="controls">
							<a href="#" class="close" tabindex="-1" title="Close Panel">close</a>
  							<a href="#" class="clone" tabindex="-1" title="Clone Panel"></a>  

  
						</nav>
						<h3 title="current">Inventario</h3>

					</div>
				</header>
				<section class="items_container">
					<div class="items panel_content" id="view62">
  
					
					</div>
				</section>
  
			</div>
		</div>
	</div>
</section>