.clone:before,.panel .panel_header .controls .clone:hover:before,
.panel .panel_header .controls .clone.cloned:before,.panel 
.panel_header .controls .clone.cloned:hover:before,.panels_auxiliary 
.search button{background:url(//d3jgo56a5b0my0.cloudfront.net/assets/panel-sb2647f6064-9647bd9b8e892fa9b95dd762c4760185.png) no-repeat}

								.full section.panels{display:none}section.panels,section.maximized
								{position:absolute;top:121px;left:0;right:0;bottom:0}
								section.panels{display:block;overflow-x:auto;overflow-y:hidden}
								section.panels .table{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:table;padding:0 8px 8px;height:100%;width:100%}


.panel .panel_header .controls .close,.panel .panel_header .controls .close:hover,.panels_auxiliary .search button
{background:url(//d3jgo56a5b0my0.cloudfront.net/assets/panel-sb2647f6064-9647bd9b8e892fa9b95dd762c4760185.png) no-repeat}

				
				 
				 
				 
				 .panel{display:none;height:100%;min-width:320px;padding:0 4px}
				 .panel.visible{display:table-cell}.panel.items_hidden .item{display:none}
				 
				 .panel>.container{
				 	width: 435px;
				 	-webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;-moz-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
				 	box-shadow:rgba(0,0,0,0.3) 0 1px 2px;-webkit-border-radius:6px 6px 2px 2px;
				 	-moz-border-radius:6px 6px 2px 2px;-ms-border-radius:6px 6px 2px 2px;
				 	-o-border-radius:6px 6px 2px 2px;border-radius:6px 6px 2px 2px;
				 	-webkit-box-sizing:border-box;
				 	-moz-box-sizing:border-box;box-sizing:border-box;position:relative;height:100%}
				 

				 .panel .panel_header{background-color:#333;-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;-ms-border-radius:6px 6px 0 0;-o-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;color:#fff;height:26px;line-height:27px;overflow:hidden;padding:0 9px}			
				 .panel h3{font-size:11px;font-weight:bold;text-transform:uppercase;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
				 .panel .panel_content{background-color:#aeb6b9;border:1px solid #999;border-width:0px 1px 1px;-webkit-border-radius:0 0 2px 2px;-moz-border-radius:0 0 2px 2px;-ms-border-radius:0 0 2px 2px;-o-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow-x:hidden;overflow-y:auto;position:absolute;top:26px;left:0;right:0;bottom:0}			
				 .panel.done .panel_header h3{display:inline}				
				 .panel .panel_header>div{height:100%;left:0px;right:0px;position:absolute}
				 .panel h3{margin-left:7px}
				 .panel nav.controls{margin-left:3px;margin-right:7px}
				 .panel .panel_header .controls{float:right}
				 .panel .panel_header .controls .clone,.panel .panel_header .controls .close{float:right;color:#fff;margin:5px 0 0 3px;text-decoration:none;width:16px;height:16px;line-height:16px}
				 
				 .panel .panel_header .controls .close{text-indent:-9999px;background-position:0 -410px}
				 .panel .panel_header .controls .close:hover{background-position:0 -427px}

				 
				



				 .panel .panel_header .controls .clone:before{content:'';display:block;margin:3px 0 0 3px;
				 background-position:0 -482px;height:10px;width:14px}
				 .panel .panel_header .controls .clone:hover:before{background-position:0 -471px}
				 .panel .panel_header .controls .clone.cloned{cursor:default}
				 .panel .panel_header .controls .clone.cloned:before,.panel .panel_header .controls .clone.cloned:hover:before{background-position:0 -460px}.panel .panel_header .controls .close{margin-left:5px}

.newAdd, .findYa, .aceptarr {float:right;color:#fff;margin:5px 0 0 3px;text-decoration:none;width:16px;height:16px;line-height:16px}
.findYa {background:url(//d3jgo56a5b0my0.cloudfront.net/assets/dropdown-s254aab5403-534430f718197a047b07794144e1f4ae.png) no-repeat}
.newAdd, .aceptarr  {background:url(//d3jgo56a5b0my0.cloudfront.net/assets/history-s27c0e1b26d-be41e12aba4d29a8a07a778019413d29.png) no-repeat}
.findYa {background-position:0 -24px}
.newAdd {background-position:0 -90px}
.aceptarr {background-position:0 -56px}

